body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4 {
  color: #e46450;
}



p {
  color: #554f4a;
}

hr {
  color: #e0ddd6;
}


/* IDEA: header */










#header {
  height: 106px;
  width: 100%;
  background-color: white;
  border: 0px;
}

#full-screen-menu-toggle {
  margin-left: 1853px;
	z-index: 20;
	position: absolute;
	background: rgb(0, 117, 169);
}

.full-screen-menu-active #full-screen-menu-toggle {
	background:rgb(0, 46, 67);
  height: 50px;
  width: 50px;
}


.site-nav {
  margin-left: 1603px;
  width: 300px;
  height: 1000px;
  transition: all 0.4s ease;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: white;
  z-index:10;
}

.full-screen-menu-active .site-nav {
  opacity: 1;
  pointer-events: initial;
}

.site-nav ul {
  display: block;
  transition: all 0.3s ease;
  padding: 0;
  list-style-type: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.3)
}

.site-nav a {
	color:rgb(0, 46, 67);
	text-decoration: none;
	display: block;
	padding:.5em;
}

.full-screen-menu-active .site-nav ul {
  transform: translate(-50%, -50%) scale(1)
}

.brk_kahl_logo p {
  font-size: 19px;
  font-weight: bold;
  color: black;
}

.brk_logo img {
  height: 57px;
  margin-top: 23px;
}

/* IDEA: content */




#content {
width: 66%;
margin-left: 17%;
}


.menu {
  width: 260px;
  height: 460px;
  padding-right: 53px;
  float: left;
}

a {
  text-decoration: none;
  color: #554f4a;
}

a:hover {
  text-decoration: underline;
}

.menu img {
  width: 260px;
}




.hiorg iframe {
  border: 0px;
}











/* IDEA: footer */

#footer {
width: 66%;
margin-left: 17%;
}

#footer .links, .social_media{
  float: left;
}

.links {
  float: left;
  padding-right: 50px;
  margin-left: 40px;
}

.links p {
  font-weight: bold;
}

.links a {
  display: flow-root;
}

.social_media {
margin-left: 150px;
}

.social_media a {
  float: right;
  padding: 20px;
}

.social_media img {
  height: 20px;
}
