body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4 {
  color: #e46450;
}

p {
  color: #554f4a;
}

hr {
  color: #e0ddd6;
}

#header {
  width: 100%;
  height: 100px;
  margin-top: 0;
  position: fixed;
  background-color: white;
  box-shadow: 0px 2px 5px lightgrey;
  z-index: 2;
}

#brk_logo {
  margin-left: 17%;
}

.logo {
  padding-left: 5px;
  float: left;
}

.logo img {
  height: 60px;
  margin-top: 20px;
}

.logo p {
  font-size: 19px;
  font-weight: bold;
  color: black;
}

#toggle_menu {
  width: 50px;
  height: 50px;
  float: right;
  background-color: rgb(0, 117, 169);
  cursor: pointer;
}

#lines {
  margin-top: 5.5px;
}

.line {
  width: 25px;
  height: 2px;
  background-color: white;
  float: right;
  margin-right: 12.5px;
  margin-top: 8px;
}

#toggle_menu:active {
  background-color: rgba(0, 45, 85);
}

#right_menu{
  width: 250px;
  height: 868%;
  float: right;
  clear: right;
  margin-top: 50px;
  background-color: white;
  box-shadow: 0px 2px 5px lightgrey;
  border-top: 1px solid #e0ddd6;
  display: none;
}

#accordion-container_menu {

      }

      .question-container_menu {
          font-size: 1.3em;
          padding: 0.2em 0.8em;
          color: #0075a9;
          border-bottom: 1px solid #e0ddd6;
      }

      .question-container_menu:hover{
          cursor: pointer;
      }

      .answer-container_menu {
          font-family: 0.7em;
          padding: 0.5em 0.5em;
          color: rgb(45, 45, 65);
          display: none;
      }

      .answer-box_menu {
          padding: 0.5em 1em;
      }

      .answer-box_menu img, p {
        display: inline;
      }

.scene img {
  width: 100%;
  padding-top: 100px;
}

.scene_text {
  width: 100%;
  height: 70px;
  background-color: rgb(255, 255, 255, 80%);
  position: absolute;
  margin-top: 664px;
  z-index: 1;
}

.scene_text_date {
  margin-left: 17%;
}

.scene_date {
  height: 40px;
  width: 500px;
  padding-top: 20px;
  float: left;
}

.scene_border {
  width: 1px;
  height: 45px;
  background-color: grey;
  margin-top: 12.5px;
  position: absolute;
  margin-left: 450px;
}

.scene_date p {
  color: rgb(0, 117, 169);
  font-size: 24px;
  padding-top: 24px;
}

.scene_date a {
  color: rgb(0, 117, 169);
  font-size: 24px;
  padding-top: 24px;
}

#welcome_text {
  width: 66%;
  margin-left: 17%
}

#content {
width: 66%;
margin-left: 17%;
}


.menu {
  width: 260px;
  height: 460px;
  padding-right: 53px;
  float: left;
}

a {
  text-decoration: none;
  color: #554f4a;
}

a:hover {
  text-decoration: underline;
}

.menu img {
  width: 260px;
}

.hiorg {
  width: 66%;
  margin-left: 17%;
  clear: both;
}

.hiorg iframe {
  border: 0px;
}

#article {
  margin: 0;
  width: 100%;
  height: 800px;
  background-color: #efeeea;
  clear: both;
}

.news {
  width: 66%;
  margin-left: 17%;
  padding-top: 25px;
}

.news_article {
  float: left;
  margin-left: 10%;
}

.news_article_image img {
  width: 440px;
}

.news_article_date p {
  font-size: 12px;
}

.news_article_text {
  width: 440px;
  height: 220px;
}

.news_article_link p {
 color: rgb(0, 117, 169);
}

#footer {
width: 66%;
margin-left: 17%;
clear: both;
}

#footer .links, .social_media{
  float: left;
}

.links {
  float: left;
  padding-right: 25px;
  margin-left: 40px;
}

.links p {
  font-weight: bold;
}

.links a {
  display: flow-root;
}

.social {
  margin-left: 960px;
  padding-bottom: 20px;
}

.social_media {
margin-left: 100px;
float: none;
}

.social_media_links {
  float: right;
  padding-right: 20px;
  width: 20px;
  margin-right: 40px;
}

.social_media_links img {
  height: 20px;
}
